*{
    box-sizing: border-box;
}

.btn-lg {
    margin-left: 250px;
    margin-right: -10px;
}
div.video{
    /* width: 100%; */
    width: 150px;
    height: 100px;
    margin: 5px 5px;
}
body {
    overflow-x: hidden !important;
    /* padding: 5px; */
}
